.sparrow-preview {
  text-align: center !important;
  margin-top: -140px;
  padding: 0 auto;
}

.sparrow-preview > img {
  margin: 0 auto;
}

.sparrow-section-dark {
  background-color: $grey4a;
  color: #fff;
}
